.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background:bisque;
}

.compBg {
  /* z-index: 0; */
}

.title {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: auto;
  color: red;
}
.compTitle {
  z-index: 1;
}
.compTable {
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
  z-index: 3;
}
body {
  font-family: 'Pacifico';
  font-size: 2em;
}
.ourTable {
  align-self: center;
  width: 50%;
}

.headBox {
  background-color: green;
  width:  100vw;
  height: 100vh;
  z-index: 0;
}
.bigHead {
  position: relative;
  top: 20%;
  left: 10%;
  width: 23%;
  z-index: 99999;
}

.centerTable {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.bigHead {
  -webkit-animation: bounce 3s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  20% {
    -webkit-transform: translate3d(299px, 499px, 300px);
  }
  40% {
    -webkit-transform: translate3d(-302px, 230px, 300px);
  }
  60% {
    -webkit-transform: translate3d(299px, 230px, 300px);
  }
  80% {
    -webkit-transform: translate3d(-302px, 500px, 300px);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}