.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background:bisque;
}

.compBg {
  z-index: 0;
}

.title {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: auto;
  color: red;
}
.compTitle {
  z-index: 1;
}
.compTable {
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
  z-index: 3;
}
body {
  font-family: 'Pacifico';
  font-size: 2em;
}
.ourTable {
  align-self: center;
  width: 50%;
}

.headBox {
  /* justify-content: center; */
  width:  auto;
  height: auto;
}
.bigHead {
  width: 20%;
  height: auto;
  z-index: 100;
}

.centerTable {
  display: flex;
  justify-content: center;
  width: 100vw;
}